.main{
    /* border: 40px solid #1b1b3d; */
    background-color: #1b1b3d;
    width: 35vw;
    height: 75vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.gameContainer{
    width: 32vw;
    height: 65vh;
    background-color: white;
    border-radius: 10px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
.gameHeading{
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
    align-self: center;
    justify-self: center;
    text-align: center;
}

